html {
  font: normal 100%/1.5 Georgia,serif;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
  padding: 1em 0;
}

h1 {
  margin: 0;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: white;
  display: inline-block;
  padding: 8px 16px;
  background-color: #666;
  border-radius: 0px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #cc0066;
}

.nav .current {
  background-color: #990000;
}

.nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav .dropdown-content a:hover {background-color: #cc6699}

.nav .dropdown:hover .dropdown-content {
  display: block;
}

.nav .dropdown:hover .dropbtn {
  background-color:#cc0066;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid black;
  text-align: left;
  background-color: grey;
  padding: 8px;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

td#blank {
  border: 0px solid black;
  text-align: left;
  padding: 20px;
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

