<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Group A</title>
  <link href="{{ url_for('.static', filename='style_2.css') }}" rel="stylesheet">
</head>
<body>

<header>
  <h1>2020 IIA exam counter - Group A</h1>
  <nav>
    <ul class="nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('all') }}">All Subjects</a></li>
      <li class="dropdown">
        <a href="{{ url_for('grp_index') }}">Subject Groups</a>
        <div class="dropdown-content">
          <a class="current" href="{{ url_for('A') }}">Group A</a>
          <a href="{{ url_for('B') }}">Group B</a>
          <a href="{{ url_for('C') }}">Group C</a>
          <a href="{{ url_for('D') }}">Group D</a>
          <a href="{{ url_for('E') }}">Group E</a>
          <a href="{{ url_for('F') }}">Group F</a>
          <a href="{{ url_for('G') }}">Group G</a>
          <a href="{{ url_for('Other') }}">Other</a>
        </div>
      </li>
    </ul>
  </nav>
</header>


<table id = "main_table" class="table">
<thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Countdown</th>
  </tr>
</thead>
<tbody>
  <!-- to be filled in by json-->
</tbody>
</table>

<script type="text/javascript" src="{{ url_for('.static', filename='dates_2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='index_2.js') }}"></script>
<script type="text/javascript">
    // Update the count down every 1 second
    setInterval(function() {
        // Get todays date and time

        clearTable();
        populateTable(A);
      
    }, 1000);

  </script>

</body>
</html>